body{
	background-color: #96a39a;
	font-family: fantasy;
}


h1{
	text-align: center;
	text-transform: uppercase;;
}


h2{
	text-align: center;
}

p{
	text-align: justify;
	margin-left: 750px;
	max-width: 35vh;
	border-left: solid;
	border-color: black;
	color:white;
	padding-left: 10px;
}


img:hover{
	width: 800px;
	height: 600px;
	padding: 5px;
}

img	{
	width: 400px;
	height: 300px;
}

.image {
	display: flex;
    justify-content: center;
}

#navigation{
	list-style: none;

}

ul {
    list-style: none; /* enlever les puces */
    margin:0px; /* enlever les marges automatiques */
    display: flex;
    justify-content: center;
    
    
}
 
ul li {
    display: table-cell; /* affichage en ligne */

    
}

a{
	margin-right: 10px;
	text-decoration: none;
	color: white;
	border-color: white;
	border-bottom: solid;
	text-transform: uppercase;
	/*font-size: 10px;*/

}

a:hover{
	margin-right: 10px;
	text-decoration: none;
	color: white;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 15px;
	padding: 5px;


}

a:active {
	color: black;

}

.footer{
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   

}

